#main {
  width: 1000px;
  height: 787px;
  position: relative;
  background: url(../assets/images/3d-room.jpg) center no-repeat;
}

#ball {
  background-color: dodgerblue;
  position: absolute;
  margin-top: 33%;
  margin-left: 90px;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset -10px -10px 70px black, -130px 160px 100px,
    inset 0px 0px 50px black;
  cursor: pointer;
}

.letMoove {
  animation-name: mooving;
  animation-duration: 4s;
  animation-iteration-count: 8;
  /* animation-direction: alternate; */
  animation-timing-function: linear;
}
@keyframes mooving {
  from {
    margin-left: 90px;
    background-color: rgb(83, 30, 255);
    width: 150px;
  }
  5% {
    background-color: dodgerblue;
    width: 120px;
    height: 120px;

    box-shadow: inset -10px -10px 70px black, -100px 280px 100px,
      inset 0px 0px 50px black;
  }
  15% {
    background-color: rgb(191, 30, 255);
    width: 90px;
    height: 90px;
    box-shadow: inset -10px -10px 70px black, -50px 280px 100px,
      inset 0px 0px 50px black;
  }
  25% {
    background-color: rgb(255, 30, 206);
    width: 60px;
    height: 60px;
    box-shadow: inset -10px -10px 20px black, -10px 280px 100px,
      inset 0px 0px 50px black;
  }
  33% {
    background-color: rgb(255, 30, 49);
    width: 90px;
    height: 90px;
    box-shadow: inset -10px -10px 70px black, 50px 280px 100px,
      inset 0px 0px 50px black;
  }

  40% {
    background-color: rgb(251, 255, 30);
    width: 120px;
    height: 120px;
    box-shadow: inset -10px -10px 70px black, 90px 280px 100px,
      inset 0px 0px 50px black;
  }
  45% {
    background-color: rgb(251, 255, 30);
    width: 150px;
    height: 150px;
    box-shadow: inset -10px -10px 70px black, 90px 280px 100px,
      inset 0px 0px 50px black;
  }
  50% {
    margin-left: 790px;
    background-color: rgb(30, 255, 49);
    width: 120px;
    height: 150px;
    box-shadow: inset -10px -10px 70px black, 100px 180px 100px,
      inset 0px 0px 50px black;
  }
  63% {
    background-color: dodgerblue;
    width: 200px;
    height: 200px;

    box-shadow: inset -10px -10px 70px black, 50px 230px 100px,
      inset 0px 0px 50px black;
  }
  /* 70% {
    background-color: rgb(191, 30, 255);
    width: 250px;
    height: 250px;
    box-shadow: inset -10px -10px 70px black, -50px 200px 100px,
      inset 0px 0px 50px black;
  } */
  75% {
    background-color: rgb(255, 30, 206);
    width: 270px;
    height: 270px;
    box-shadow: inset -10px -10px 20px black, 0px 230px 100px,
      inset 0px 0px 50px black;
  }
  87% {
    background-color: rgb(255, 30, 49);
    width: 200px;
    height: 200px;
    box-shadow: inset -10px -10px 70px black, 50px 280px 100px,
      inset 0px 0px 50px black;
  }
  95% {
    background-color: rgb(255, 30, 49);
    width: 150px;
    height: 150px;
    box-shadow: inset -10px -10px 70px black, 50px 280px 100px,
      inset 0px 0px 50px black;
  }

  to {
    margin-left: 90px;
    background-color: rgb(83, 30, 255);
    width: 120px;
    height: 150px;
    box-shadow: inset -10px -10px 70px black, -130px 160px 100px,
      inset 0px 0px 50px black;
  }
}
